<% layout("layout") -%>
<div id="particles-js"></div>
  <div class="homeimg">
<div class="welcome col-lg-6 container" data-aos="fade-right" data-aos-delay="1000">
<center><img class="img-responsive" src="/images/Sunbeam.png" height="120px" width="120px"></center>
<h1 class="page-header">
            Welcome to PBC Sunbeam School Inc.
          </h1>
          <br>
          <p>A very warm welcome to the PBC Sunbeam School Inc.</p>

            <br>
            <p> &nbsp&nbsp&nbsp At PBCSSI our mission is to provide an outstanding education and inspire our students to engage
              in academic, spiritual and extra-curricular activities. Our students set high expectations for themselves,
              enjoy school and the community is constantly rewarded by their achievements.
            </p>
            <br>
            <p> &nbsp&nbsp&nbsp PBCSSI has earned its outstanding reputation through its students’ successes, its rigorous educational
              programme, its excellent and dedicated staff, its caring community and its engagement in global issues. Our
              curriculum develops student learning and understanding, a culture of thinking, inquiry and reflection, resilience
              and independence and is always focused upon developing the wholeness of the child. Beyond the classroom, PBCSSI
              offers its students many opportunities to reach the highest levels of attainment and performance. We hope that
              by browsing our website you will gain insight into the many opportunities and challenges that we offer our
              students and we would be delighted to welcome you to PBCSSI and to show you around our school. Please do not
              hesitate to contact our Admissions Office if you would like further information.
            </p>
            <p>
              <br> Romeo L. Dela Rosa
              <br> Director
            </p>
</div>
</div>

   
    <!-- Page Content -->
    <br>
    <div>
      <div class="row">
        <div class="col-lg-12">
          <center><h1><div class="title1" data-aos="fade-down">EXCELLENCE IN EDUCATION,</div><div class="title2" data-aos="fade-up" data-aos-delay="500" >&nbspANCHORED ON CHRISTIAN VALUES</div></h1></center>
        </div>
      </div>
    </div>
    <br>
    <br>
    
    <center>
    <div class="container">
    <div class="gallery-content">
      <div class="col-md-4" data-aos="fade-right" data-aos-delay="700">
        <div class="panel panel-info p1">
          <div class="samples">
          <div class="sample">
            <div class="image-contain1">
              <img class="img img-responsive" src="/images/g3.png"/>
              <div class="homecontent">
              <% if(news){ %>
              <h4>
                <%- news.title %>
              </h4>
              <% }else{ %>
                No news found!
                <% } %>
              <br><br>
              <p> Click <a href="/news">here</a> for more details about our news and announcements </p>
              </div>
            </div>
            <div class="panel-body homelink" align="center">
            <h4>News and Announcements</h4>
            <p>Be updated with the latest news and announcements.</p>
            </div>  
          </div>
          </div>
        </div>
      </div>
    
  
        <div class="col-md-4" data-aos="fade-right" data-aos-delay="1200">
        <div class="panel panel-info p2">
          <div class="samples">
          <div class="sample">
            <div class="image-contain2">
              <img class="img img-responsive" src="/images/h2.png">
              <div class="homecontent">
              <br><br>
              <p>More questions? Send us your inquiries by going to our <a href="/messageus">Message Us</a> page.</p>
              </div>
            </div>
            <div class="panel-body homelink" align="center">
            <h4>Message Us</h4>
            <p>For more inquiries, feel free to message us your questions.</p>
            </div>  
          </div>
          </div>
        </div>
      </div>
    
        <div class="col-md-4" data-aos="fade-right" data-aos-delay="1700">
        <div class="panel panel-info p3">
          <div class="samples">
          <div class="sample">
            <div class="image-contain3">
              <img class="img img-responsive" src="/images/h1.png">
              <div class="homecontent">
              <br><br>
              <p>Wanting to be a part of PBC family? Register <a href="/register">here</a> and become a bonafide Sunbeamer.</p>
              </div>
            </div>
            <div class="panel-body homelink" align="center">
            <h4>Register Now</h4>
            <p>Register now and be a part of our growing community.</p>
            </div>  
          </div>
          </div>
        </div>
      </div>
  </div>
    </div>
    </div>
    </center>

    <br><br><br>
    <img class="img img-responsive" src="/images/h9.png">
    
    
     
     

   